<h2>Curriculum <span>Vitae</span></h2>
<header>
  <nav>
    <ul>
      <li><a href="About">About</a></li>
      <li><a href="Skills">Skills</a></li>
      <li><a href="Education">Education</a></li>
      <li><a href="Achievements">Achievements</a></li>
      <li><a href="References">References</a></li>
      <li><a href="Click here">Click here</a></li>
    </ul>
  </nav>
</header>
<app-about></app-about>
<app-skills></app-skills>
<app-education></app-education>
<app-achievements></app-achievements>
<app-references></app-references>
<app-pagenotfound></app-pagenotfound>
<router-outlet></router-outlet>
